#container
{
    background-color: rgb(0, 0, 0, .75);
    color: white;
    width: 800px;
    height: 100%;
    align-self: center;
    margin: auto;
}
header {
    text-align: center;
}
body{
    background-image: url("background.jpg");
}
#aboutMe
{
    orientation: center;
    text-align: center;
}
.projects
{
    background-color: whitesmoke;
    color: black;
    float: left;
    width: 350px;
    height: 200px;
    border-color: aqua;
    border-style: double;
    border-radius: 20px;
    border-width: 2px;
    padding-left: 4px;
    margin: 21px;
}